body            { font-family: sans-serif; background: #244148; color:white; }
a, h2           { color: #377ba8; }
table           { border-collapse: collapse; border: 1px solid white; }
th              { padding: 5px 18px; border: 1px solid white; text-align: center; } 
td              { border: 1px solid white; padding: 5px 5px; text-align: center;}

    
